# 6장 연습문제

In [1]:
def print_mileage(a):
    i = 1
    for key in a:
        print('%d. 아이디 : %s, 마일리지 : %d점' % (i, key, a[key]))
        i += 1

In [2]:
customer = {'kim99' : 12000, 'lee66' : 11000, 'han55' : 3000, 'hong77':5000, 'hwang33':18000}

### 1.

In [3]:
print_mileage(customer)

1. 아이디 : kim99, 마일리지 : 12000점
2. 아이디 : lee66, 마일리지 : 11000점
3. 아이디 : han55, 마일리지 : 3000점
4. 아이디 : hong77, 마일리지 : 5000점
5. 아이디 : hwang33, 마일리지 : 18000점

### 2.

In [4]:
customer['han55'] = 5000
print('han55님의 마일리지가 5000점으로 수정 되었습니다.')

han55님의 마일리지가 5000점으로 수정 되었습니다.

### 3.

In [5]:
customer['jang88'] = 7000
print('jang88님의 마일리지(7000점)가 추가 되었습니다.')

jang88님의 마일리지(7000점)가 추가 되었습니다.

### 4.

In [6]:
a = list(customer.keys())
max = customer[a[0]]
for key in customer:
    if max < customer[key]:
        max = customer[key]
        human = key
print('%s님의 %d점이 가장 높은 점수입니다.'%(human, max))

hwang33님의 18000점이 가장 높은 점수입니다.

In [7]:
days = {'월': 25.5, '화': 28.3, '수': 33.2, '목': 32.1, '금': 17.3, '토': 35.3, '일': 33.3}

### 5.

In [8]:
print('-'*50)
for key in days:
    print('%5s' %key , end=' ')
print()
print('-'*50)
for values in days:
    print('%6.1f' %days[values], end= ' ')
print()
print('-'*50)

--------------------------------------------------
    월     화     수     목     금     토     일
--------------------------------------------------
  25.5   28.3   33.2   32.1   17.3   35.3   33.3
--------------------------------------------------

### 6.

In [9]:
b = list(days.keys())
min_value = days[b[0]]
for key in days:
    if days[key] < min_value:
        min_value = days[key]

print('가장 낮은 최고 기온 : %s도'%min_value)

가장 낮은 최고 기온 : 17.3도

### 7.

In [10]:
high_temp = []

for key, values in days.items():
    if values > 30:
        high_temp.append(key)

print('기온이 30도 이상인 요일 :', end=' ')
for i in high_temp:
    print(i, end=' ')

기온이 30도 이상인 요일 : 수 목 토 일

### 8.

In [11]:
sum = 0
for values in days.values():
    sum += values

avg = sum / len(days)
print('일주일간 최고 기온의 평균 %.1f'%avg)

일주일간 최고 기온의 평균 29.3

# 7장 연습문제

### 1.

In [12]:
def f1(a):
    a += 10
    print(a, end=', ')

a = 10
f1(a)
print(a)

20, 10

### 2.

In [13]:
def f2(a):
    global y
    y += a
    x = 500
    print(y, end=', ')

x = 100
y = 200

f2(x)
print(x, end=', ')
print(y)

300, 100, 300

### 3.

In [14]:
def prime_number(n):
    for i in range(2, n+1):
        for j in range(2, i+1):
            if i == j:
                print(i, end=' ')
            elif i % j == 0:
                break

n = int(input("n의 값을 입력하세요 : "))
prime_number(n)

n의 값을 입력하세요 : 20
2 3 5 7 11 13 17 19

### 4.

In [15]:
reverse_str = lambda a: a[::-1]

n = input('문자열을 입력하세요. : ')
print(reverse_str(n))

문자열을 입력하세요. : I love you.
.uoy evol I

### 5.

In [16]:
def numSquare(num):
    list_new = []
    for i in range(1, num+1):
        list_new.append(i**2)
    return list_new

n = 5
result = numSquare(n)
print(result)

[1, 4, 9, 16, 25]

### 6.

In [17]:
def gcd(x, y):
    if x > y:
        small = y
    else:
        small = x

    for i in range(1, small+1):
        if(x%i == 0 ) and (y % i == 0):
            result = i
    return result

lcm = lambda x, y: x * y / gcd(x, y)

n1 = int(input('첫 번째 수를 입력하세요 : '))
n2 = int(input('두 번째 수를 입력하세요 : '))

print('%d와 %d의 최소공배수 : %d'%(n1, n2, lcm(n1, n2)))

첫 번째 수를 입력하세요 : 8
두 번째 수를 입력하세요 : 20
8와 20의 최소공배수 : 40

### 7.

In [ ]:
def checks(a, b):
    for uppercheck in a:
        if uppercheck.isupper() == True:
            break

    if a.isdigit() == True or a.islower() == True or len(a) < 10:
        return 1
    elif a == b:
        return 2
    else :
        return 3

print('※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야합니다.')
while True:
    passwd = input('비밀번호 : ')
    passwd_check = input('비밀번호 확인 : ')


    if checks(passwd, passwd_check) == 1 :
        print('비밀번호가 잘못 되었습니다! 다시 입력해주세요')
    elif checks(passwd, passwd_check) == 2 :
        print('유효한 비밀번호입니다.')
        break
    else :
        print('비밀번호와 비밀번호 확인이 서로 다릅니다! 다시 입력해주세요!')

※ 비밀번호는 10자리 이상, 영문 대문자를 포함하여야합니다.
비밀번호 : 12we12r1wqt1
비밀번호 확인 : 123
비밀번호가 잘못 되었습니다! 다시 입력해주세요

### 8.

In [19]:
numbers = [77, 36, 29, 11, 20, 6, 91, 33]

In [20]:
sorts = lambda a: a.sort()
print(numbers)
sorts(numbers)
print('정렬된 수 : ')
for i in range(len(numbers)):
    print(numbers[i], end = ' ')

[77, 36, 29, 11, 20, 6, 91, 33]
정렬된 수 :
6 11 20 29 33 36 77 91