# Chapter2 Basic

## Variable

In [1]:
# example 2-1
a = 20
b = 30
c = a+b
print(c)

50

In [2]:
# example 2-2
x = 20
computer = 'Mac'
age = 30
my_score = 70
_name = 'Hong'
my_birth_year = 1997
data2 = 20.3

print(x, computer, age, my_score, _name, my_birth_year, data2)

20 Mac 30 70 Hong 1997 20.3

In [3]:
# example 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [4]:
# example 2-5
x = 3.3764
y = int(6/2)
print(x, y)
print(type(x), type(y))

3.3764 3
<class 'float'> <class 'int'>

In [5]:
# example 2-6
a = 'x'
b = 'I am ok'
c = 'hello'

print('{0}\n{1}\n{2}'.format(a, b, c))
print(type(c))

x
I am ok
hello
<class 'str'>

In [6]:
# example 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])
print(x[5:])
print(x[-1])
print(x[-3:])
print(x[-4:-2])

I am happy!
I
I a
happy!
!
py!
pp

In [7]:
# example 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(c))

True
False
False
<class 'bool'>

In [8]:
eng = 80
result = 'Eng : ' + str(eng)
print(result)

Eng : 80

In [9]:
# example 2-20
year = 2020
month = 3
day = 5
a = "%d-%02d-%02d"% (year, month, day)
print(a)

2020-03-05

In [10]:
# example 2-23

height = 172.5
a = 'height : %.2f' %height

print(a)

a = 'height : %10.2f' %height

print(a)

height : 172.50
height :     172.50

In [11]:
# 문자열 메소드
x = 'I am happy!'
x.count('am')

1

In [12]:
x.find('m')

3

In [13]:
x.upper()

'I AM HAPPY!'

In [14]:
x.lower()

'i am happy!'

In [15]:
x.replace('am', 'was')

'I was happy!'

In [17]:
x.split(' ')

['I', 'am', 'happy!']

In [18]:
x.isspace()

False

In [23]:
# examnple 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum /2
print("%d %d"%(score1, score2))
print("%d %.2f"%(sum, avg))

80 87
167 83.50

In [24]:
# sep, end
print('today')
year = 2020
month = 5
day = 29
print('today', end=' ')
print(year,month,day, sep='/', end='')

today
today 202/5/29

In [25]:
# example 2- 31
name = input('your name')

print('Welcome %s' %name)

your namehong
Welcome hong

In [28]:
a = int(input('1st num : '))
b = int(input('2nd num : '))

print("%d" %(a+b))

1st num : 5
2nd num : 6
11