# Chapter 6. Tuple

In [4]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [5]:
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [7]:
a = tuple(i * i for i in range(1, 6))
print(a)

(1, 4, 9, 16, 25)

# Chapter 7. Fuction

In [7]:
# 뭐든 튜블로 받는다.

def average(*scores):
    sum = 0
    for i in range(len(scores)):
        sum += scores[i]
    
    avg = sum / len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores), avg))

average(80,90,100)
average(75,80,94,78)
average(80,73,76,86,82)

3과목의 평균 : 90.00
4과목의 평균 : 81.75
5과목의 평균 : 79.40

In [11]:
# keyword형 인수

def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [12]:
personal_info(age = 30, address = '세종시', name = '홍길동')

이름:  홍길동
나이:  30
주소:  세종시

In [15]:
x = dict(name = '홍길동', age = 30, address = '세종시')

In [16]:
personal_info(**x)

이름:  홍길동
나이:  30
주소:  세종시

In [18]:
y = (70, 80, 90, 100)
average(*y)

4과목의 평균 : 85.00

In [19]:
def personal_info(**kwargs):
    for kw, val in kwargs.items():
        print(kw, ': ',val,sep=' ')

In [20]:
x = dict(name = '홍길동', age = 30, address = '세종시')
personal_info(**x)

name :  홍길동
age :  30
address :  세종시

In [22]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [23]:
custom_print(1, 2, 3, sep=':', end='')

1:2:3

In [25]:
def perfect_num(x):
    num1 = list()
    for i in range(1, x+1):
        sum = 0
        for j in range(1, i):
            if i % j == 0:
                sum += j
        if sum == i:
            num1.append(sum)
    return num1

In [26]:
print(perfect_num(10000))

[6, 28, 496, 8128]

In [33]:
def perfect1(n):
    sum = 0
    for i in range(1, n):
        if n % i == 0:
            sum += i
    return sum

In [36]:
for i in range(1, 10001):
    if i ==  perfect1(i):
        print(i)

6
28
496
8128

In [39]:
def func():
    xxx = 100
    print(xxx)
    print(id(xxx))
    
xxx = 10
print(xxx)
print(id(xxx))
func()

10
140714547126960
100
140714547129840

In [43]:
def func():
    global xxx
    xxx = 100
    print(xxx)
    print(id(xxx))
    
xxx = 10
print(xxx)
print(id(xxx))
func()
print(xxx)
print(id(xxx))

10
140714547126960
100
140714547129840
100
140714547129840

# File IO

In [45]:
file = open('sample.txt', 'w', encoding='UTF-8')
file.write('Hello World!')
file.close()

In [51]:
scores = ['김소영 82 80 93 97 93 88',
           '정예린 86 100 93 86 90 77',
           '이세영 91 88 99 79 92 68',
           '정수정 86 100 93 89 92 93',
           '박지수 80 100 95 89 90 84']
data = ''

In [52]:
for item in scores:
    data += item + '\n'

print(data)

file = open('scores.txt','w',encoding='utf8')
file.write(data)
file.close()

김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84

In [67]:
file = open('scores.txt','r',encoding='utf8')
lines = file.readlines()
for line in lines:
    print(line)
    
file.close()

김소영 82 80 93 97 93 88

정예린 86 100 93 86 90 77

이세영 91 88 99 79 92 68

정수정 86 100 93 89 92 93

박지수 80 100 95 89 90 84

In [108]:
a = []
with open('scores.csv', 'r', encoding='utf8') as file:
    lines = file.readlines()
    for line in lines:
        a.append(line.split('\n'))
        
for

[['김소영,82,80,93,97,93,88', ''], ['정예린,86,100,93,86,90,77', ''], ['이세영,91,88,99,79,92,68', ''], ['정수정,86,100,93,89,92,93', ''], ['박지수,80,100,95,89,90,84']]