### 1.

In [23]:
year = int(input('Input years : '))

if year % 4 == 0 or (year % 100 != 0 and year % 400 == 0) :
    print('윤년')
else : 
    print('윤년 아님')

Input years : 2004
윤년

### 2.

In [20]:
hour = int(input('Input Hour : '))
minute = int(input('Input minute : '))

print('input time : %02d:%02d'%(hour, minute))

minute_sub = minute - 45
if minute_sub < 0 :
    hour -= 1
    minute = 60 + minute_sub
    
print('%02d:%02d'%(hour, minute))

Input Hour : 6
Input minute : 30
input time : 06:30
05:45

### 3.

In [6]:
a = int(input('1st : '))
b = int(input('2nd : '))
c = int(input('3nd : '))

print('가운데 수 : ', end='')
if (a > b and a < c) or (a < b and a > c):
    print(a)
elif (b > a and b < c) or (b < a and b > c):
    print(b)
elif (c > a and c < b) or (c < a and c > b):
    print(c)

1st : 5
2nd : 1
3nd : 3
가운데 수 : 3

### 4.

In [65]:
for i in range(1, 500):
    for j in range(i+1,500):
        c = 1000 - i - j
        if i**2 + j**2 == c**2:
            print(i, j, c)

200 375 425

### 1.

In [6]:
n = int(input('case : '))

i = 1
while i <= n:
    a = int(input('a : '))
    if a < 0:
        print('Wrong Number')
        continue
    b = int(input('b : '))
    if b > 9:
        print('Wrong Number')
        continue

    print('Case #',i,": ",a,' + ',b,' = ',a+b)
    i += 1

case : 1
a : 10
b : 10
Wrong Number
a : 1
b : 10
Wrong Number
a : 1
b : 9
Case # 1 :  1  +  9  =  10

### 2.

In [28]:
n = int(input(' '))
a = ( n + 1 ) // 2
for i in range(1, a + 1):
    for j in range(a-i):
        print(' ', end='')
    for k in range(0, 2*i-1):
        print('*', end='')
    print()

for i in range(a-1, 0, -1):
    for j in range(i, a):
        print(' ', end='')
    for k in range(2 * i - 1):
        print('*', end='')

    print()

 5
  *
 ***
*****
 ***
  *

### 3.

In [13]:
sum_sec = 0
for i in range(24):
    for j in range(60):
        if '3' in str(i) or '3' in str(j):
            sum_sec += 60

print(sum_sec)

29700

### 4,

In [30]:
n = int(input('1 ~ 1000 : '))
list1 = []
list2 = []
list3 = []
for a in range(1, n+1):
    if a < 10:
        b = list1.append(a)

    if a >= 10 and a < 100:
        b = list1.append(int(a / 10))
        c = list2.append(a % 10)

    if a >= 100 and a < 1000:
        b = list1.append(int(a / 100))
        c = a % 100
        d = list2.append(int(c / 10))
        e = list3.append(c % 10)

count = []
for i in range(0,10):
        count.append(list1.count(i) + list2.count(i) + list3.count(i))

print('0: {}개, 1: {}개, 2: {}개, 3: {}개, 4: {}개, 5: {}개, 6: {}개, 7: {}개, 8: {}개, 9: {}개'.format(count[0],count[1],count[2],count[3],count[4],count[5],count[6],count[7],count[8],count[9]))

1 ~ 1000 : 999
0: 189개, 1: 300개, 2: 300개, 3: 300개, 4: 300개, 5: 300개, 6: 300개, 7: 300개, 8: 300개, 9: 300개

### 5.

In [3]:
def perfect1(n):
    sum = 0
    for i in range(1, n):
        if n % i == 0:
            sum += i
    return sum

n = int(input(' : '))
for i in range(1, n+1):
    if i ==  perfect1(i):
        print(i)

 : 100
6
28

### 6.

In [12]:
n = int(input('input : '))

sum = 0
mul = 0
for i in range(1, n+1):
    sum += i

sum = sum ** 2

for i in range(1, n+1):
    mul += i ** 2

print(sum)
print(mul)
print(sum-mul)

input : 11
4356
506
3850

### 2.

In [35]:
def Cypher(a, n):
    if ord(a) > 64 or ord(a) < 91:
        a = ord(a) + n
        if a > 91:
            a = 65 + (a - 90 - 1)
    return chr(a)

word = input('Word : ')
n = int(input('Cycle : '))

for i in range(len(word)):
    print(Cypher(word[i], n), end = '')

Word : PYTHONE
Cycle : 5
UDYMTSJ

### 3.