In [56]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.parse import urljoin
import pandas as pd
import re

In [63]:
url_base = 'http://www.chicagomag.com'
url_sub = '/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/'

url = url_base + url_sub
url_open = urlopen(url)
soup = BeautifulSoup(url_open, 'html.parser')

In [64]:
# with urlopen('https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/') as response:##web_url = 원하는 웹주소
#     html = response.read()
#     soup = BeautifulSoup(html, 'html.parser')

In [65]:
rest_list = soup.find_all(class_='sammy')
rest_list[0]

<div class="sammy" style="position: relative;">
<div class="sammyRank">1</div>
<div class="sammyListing"><a href="/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/"><b>BLT</b><br>
Old Oak Tap<br>
<em>Read more</em> </br></br></a></div>
</div>

In [66]:
len(rest_list)

50

# 2. 접근한 웹 페이지에서 원하는 데이터 추출하고 정리하기

In [67]:
temp_one = rest_list[0]

In [68]:
temp_one.find(class_='sammyRank').get_text()

'1'

In [69]:
temp_one.find('b').get_text()

'BLT'

In [70]:
temp_one.find(class_='sammyListing').get_text()

'BLT\r\nOld Oak Tap\nRead more '

In [71]:
temp_one.find('a')['href']

'/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [72]:
tmp_str = temp_one.find(class_='sammyListing').get_text()

In [73]:
tmp_str.split('\n')

['BLT\r', 'Old Oak Tap', 'Read more ']

In [74]:
tmp_res = tmp_str.split('\n')
menu = tmp_res[0].replace('\r','')
menu

'BLT'

In [75]:
cafe = tmp_res[1]
cafe

'Old Oak Tap'

In [76]:
re.split(('\n|\r\n'), tmp_str)

['BLT', 'Old Oak Tap', 'Read more ']

In [77]:
print(re.split(('\n|\r\n'), tmp_str)[0])

BLT

In [78]:
print(re.split(('\n|\r\n'), tmp_str)[1])

Old Oak Tap

In [129]:
rank=[]
main_menu = []
cafe_name = []
url_add = []

In [130]:
for rest in rest_list:
    rank.append(int(rest.find(class_='sammyRank').get_text()))
    tmp_str = rest.find(class_='sammyListing').get_text()
    main_menu.append(re.split(('\n|\r\n'), tmp_str)[0])
    cafe_name.append(re.split(('\n|\r\n'), tmp_str)[1])
    url_add.append(urljoin(url_base, rest.find('a')['href']))

In [131]:
df = pd.DataFrame({'Rank':rank, 'Name':cafe_name, 'Menu':main_menu, 'URL':url_add})

In [132]:
df.head()

,Rank,Name,Menu,URL
0,1,Old Oak Tap,BLT,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,2,Au Cheval,Fried Bologna,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,3,Xoco,Woodland Mushroom,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,4,Al’s Deli,Roast Beef,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,5,Publican Quality Meats,PB&L,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [133]:
df.to_csv('chicago1.csv', sep=',', encoding='utf-8')

# 3. 다수의 웹 페이지에서 자동으로 접근하여 원하는 정보 가져오기

In [134]:
df['URL'][0]

'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [135]:
html = urlopen(df['URL'][0])
soup_temp = BeautifulSoup(html, 'html.parser')

In [136]:
tmp = soup_temp.find(class_='addy')

In [137]:
tmp.get_text()

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [138]:
tmp_price = tmp.get_text().split()[0][:-1]

In [139]:
tmp_price

'$10'

In [140]:
tmp_address = tmp.get_text().split()[1:-2]

In [141]:
tmp_address = ' '.join(tmp_address[:-1])

In [142]:
tmp_address

'2109 W. Chicago'

## 상태 진행바 적용

In [143]:
from tqdm import tqdm_notebook
import time

In [146]:
price = []
addr = []
for n in tqdm_notebook(df.index):
    html = urlopen(df['URL'][n])
    soup_temp = BeautifulSoup(html, 'html.parser')
    tmp_str = soup_temp.find(class_='addy').get_text()
    
    price.append(tmp_str.split()[0][:-1])
    addr.append(' '.join(tmp_str.split()[1:-2])[:-1])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

In [148]:
price

['$10',
 '$9',
 '$9.50',
 '$9.40',
 '$10',
 '$7.25',
 '$16',
 '$10',
 '$9',
 '$17',
 '$11',
 '$5.49',
 '$14',
 '$10',
 '$13',
 '$4.50',
 '$11.95',
 '$11.50',
 '$6.25',
 '$15',
 '$5',
 '$6',
 '$8',
 '$5.99',
 '$7.52',
 '$11.95',
 '$7.50',
 '$12.95',
 '$7',
 '$21',
 '$9.79',
 '$9.75',
 '$13',
 '$7.95',
 '$9',
 '$9',
 '$8',
 '$8',
 '$7',
 '$6',
 '$7.25',
 '$11',
 '$6',
 '$9',
 '$5.49',
 '$8',
 '$6.50',
 '$7.50',
 '$8.75',
 '$6.85']

In [152]:
df.drop(['URL'], axis=1, inplace=True)

In [153]:
df

,Rank,Name,Menu
0,1,Old Oak Tap,BLT
1,2,Au Cheval,Fried Bologna
2,3,Xoco,Woodland Mushroom
3,4,Al’s Deli,Roast Beef
4,5,Publican Quality Meats,PB&L
5,6,Hendrickx Belgian Bread Crafter,Belgian Chicken Curry Salad
6,7,Acadia,Lobster Roll
7,8,Birchwood Kitchen,Smoked Salmon Salad
8,9,Cemitas Puebla,Atomica Cemitas
9,10,Nana,Grilled Laughing Bird Shrimp and Fried Po’ Boy
10,11,Lula Cafe,Ham and Raclette Panino
11,12,Ricobene’s,Breaded Steak
12,13,Frog n Snail,The Hawkeye
13,14,Crosby’s Kitchen,Chicken Dip
14,15,Longman & Eagle,Wild Boar Sloppy Joe
15,16,Bari,Meatball Sub
16,17,Manny’s,Corned Beef
17,18,Eggy’s,Turkey Club
18,19,Old Jerusalem,Falafel
19,20,Mindy’s HotChocolate,Crab Cake
20,21,Olga’s Delicatessen,Chicken Schnitzel
21,22,Dawali Mediterranean Kitchen,Shawarma
22,23,Big Jones,Toasted Pimiento Cheese
23,24,La Pane,Vegetarian Panino
24,25,Pastoral,Cali Chèvre
25,26,Max’s Deli,Pastrami
26,27,Lucky’s Sandwich Co.,The Fredo
27,28,City Provisions,Smoked Ham
28,29,Papa’s Cache Sabroso,Jibarito
29,30,Bavette’s Bar & Boeuf,Shaved Prime Rib
30,31,Hannah’s Bretzel,Serrano Ham and Manchego Cheese
31,32,La Fournette,Tuna Salad
32,33,Paramount Room,Paramount Reuben
33,34,Melt Sandwich Shoppe,The Istanbul
34,35,Floriole Cafe & Bakery,B.A.D.
35,36,First Slice Pie Café,Duck Confit and Mozzarella
36,37,Troquet,Croque Monsieur
37,38,Grahamwich,Green Garbanzo
38,39,Saigon Sisters,The Hen House
39,40,Rosalia’s Deli,Tuscan Chicken
40,41,Z&H MarketCafe,The Marty
41,42,Market House on the Square,Whitefish
42,43,Elaine’s Coffee Call,"Oat Bread, Pecan Butter, and Fruit Jam"
43,44,Marion Street Cheese Market,Cauliflower Melt
44,45,Cafecito,Cubana
45,46,Chickpea,Kufta
46,47,The Goddess and Grocer,Debbie’s Egg Salad
47,48,Zenwich,Beef Curry
48,49,Toni Patisserie,Le Végétarien
49,50,Phoebe’s Bakery,The Gatsby

In [154]:
df['Price'] = price

In [156]:
df['Addr'] = addr

In [161]:
df.set_index('Rank', inplace=True)

In [162]:
df.head()

,Name,Menu,Price,Addr
Rank,,,,
1,Old Oak Tap,BLT,$10,2109 W. Chicago Ave.
2,Au Cheval,Fried Bologna,$9,800 W. Randolph St.
3,Xoco,Woodland Mushroom,$9.50,445 N. Clark St.
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston"
5,Publican Quality Meats,PB&L,$10,825 W. Fulton Mkt.

In [163]:
df.to_csv('chicago2.csv', sep=',', encoding='utf-8')

# 3. 맛집 위치를 지도에 표기하기

In [167]:
import numpy as np
import folium
import googlemaps

In [168]:
key_fd = open('googlemapskey.txt', mode='r')
gmaps_key = key_fd.read(100)
key_fd.close()

FileNotFoundError: [Errno 2] No such file or directory: 'googlemapskey.txt'

In [ ]:
gmaps_key = googlemaps.Client(key=gmaps_key)

In [ ]:
lat = []
lng = []

for n in tqdm_notebook(df.index):
    if df['Addr'][n] != 'Multiple':
        target_name = df['Addr'][n]+', '+ 'Chicago'
        gmaps_output = gmaps.geocode(target_name)
        location_output = gmaps_output[0].get('geometry')
        lat.append(location_output['location']['lat'])
        lng.append(location_output['location']['lng'])
    else:
        lat.append(np.nan)
        lng.append(np.nan)