In [1]:
from bs4 import BeautifulSoup as BS
import urllib.request as req
import urllib.parse as pa
import pandas as pd
from tqdm import tqdm_notebook
import time
import re

In [2]:
def url_Open(url_base, page_num):
    
    url_sub = '/search/search_main_sub_area.asp?page='+str(page_num)+'&areacode=dj202&trec=67'
    url = url_base + url_sub
    url_open = req.urlopen(url)
    
    return url_open

In [3]:
name = []
score = []
category =[]
addr = []
tel = []

In [4]:
page_num = 1

while True:
    url_base = 'http://www.menupan.com/restaurant'
    soup = BS(url_Open(url_base, page_num), 'html.parser')
    lst_temp = soup.find_all(class_='ifo')
    
    if lst_temp[0].get_text().strip() == '게시물이 없습니다.':
        break
    
    for li in lst_temp:
        name.append(li.find('a').get_text())
        score.append(li.find(class_='total').get_text())
        temp = li.find_all('dd')
        addr_temp = temp[1].get_text().split('|')
        category.append(addr_temp[0])
        addr.append(addr_temp[1].lstrip())
        tel.append(temp[2].get_text())
        
    page_num += 1

In [1]:
df = pd.DataFrame(dict(zip(['Name', 'Category', 'Address', 'Tel', 'Score'], [name, category, addr, tel, score])))
df.index += 1

NameError: name 'pd' is not defined

In [6]:
df

             Name Category                    Address            Tel Score
1         라라랄라어은점       분식           대전 유성구 어은동 108-3  (042)862-3838   4.2
2            리엔차이       중식            대전 유성구 죽동 627-1  (042)824-4499   3.8
3      메이드바이 더초콜릿    카페/주점         대전 유성구 궁동 419-2 1층  (042)823-7779   4.0
4            로아커피    카페/주점            대전 유성구 죽동 614-3  (042)826-7599   4.0
5   호텔리베라유성 카페엘루스    카페/주점           대전 유성구 봉명동 444-5  (042)828-4034   3.3
..            ...      ...                        ...            ...   ...
63            아다미       일식  대전 유성구 장대동 370-13 행복빌라 1층  (042)383-6644   3.7
64             칼프       양식           대전 유성구 신성동 125-3  (042)862-2288   3.7
65    뚜레쥬르대전반석1호점    기타/세계           대전 유성구 반석동 639-2  (042)825-0443   3.6
66         약수산장가든       한식           대전 유성구 갑동 387-88  (042)822-5286   3.1
67          청주해장국       한식          대전 유성구 봉명동 538-16  (042)822-0050   3.8

[67 rows x 5 columns]