# SQLight3 Training

In [10]:
import sqlite3 as sq

In [28]:
# File SQL 접속
conn = sq.connect('test.db')

In [56]:
# 객체 생성
cur = conn.cursor()
# 실행문 입력
cur.execute('SELECT * FROM eagles')
# 데이터  가져오기
rows = cur.fetchall()

In [57]:
rows

[(1, 22, '이태양', '투수'),
 (2, 13, '최재후', '포수'),
 (3, 3, '노태형', '내야수'),
 (4, 19, '이용규', '외야수'),
 (5, 5, '윤대경', '투수'),
 (6, 12, '최재훈', '포수'),
 (7, 52, '김태균', '내야수'),
 (8, 25, '최진행', '외야수'),
 (9, 56, '박정현', '내야수'),
 (10, 51, '장진혁', '외야수'),
 (11, 33, '아아아', '투수'),
 (12, 11, '빼빼로', '외야수'),
 (13, 29, '최후진', '외야수'),
 (14, 38, '안영명', '투수'),
 (15, 54, '서균', '투수'),
 (16, 54, '서균', '투수'),
 (17, 54, '서균', '투수'),
 (18, 37, '안보영', '투수'),
 (19, 52, '서균', '투수')]

In [40]:
cur.execute("SELECT * FROM eagles WHERE Position='투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(5, 5, '윤대경', '투수')
(11, 33, '아아아', '투수')

# 데이터 추가

In [32]:
cur.execute("INSERT INTO eagles(Back_no, Name, Position) VALUES(11,'빼빼로', '외야수')")

In [37]:
# execute로 추가 후 commit으로 넣어줘야한다. (DB에 반영)
conn.commit()

In [41]:
# 파라메터를 튜블로 이용하여 전달
Back_no = 29
Name = '최후진'
Position = '외야수'

sql = "INSERT INTO eagles(Back_no, Name, Position) VALUES(?, ?, ?)"
cur.execute(sql,(Back_no, Name, Position))
conn.commit()

In [45]:
# 튜플 리스트 사용
players = [(38, '안영명', '투수'), (54, '서균', '투수')]

for player in players:
    cur.execute(sql, player)
conn.commit()

In [ ]:
# executemany() 사용

In [55]:
players = [(37, '안보영', '투수'), (52, '서균', '투수')]
cur.executemany(sql, players)
conn.commit()

## 데이터 조회

In [58]:
# 순회 조회
sql = "SELECT * FROM eagles WHERE Position='포수'"
cur.execute(sql)
for result in cur:
    print(result)

(2, 13, '최재후', '포수')
(6, 12, '최재훈', '포수')

In [59]:
# 한건 조회  *************************************************************************************
cur.execute(sql)
result = cur.fetchone()    # 한번에 하나씩 가져옴
result

(2, 13, '최재후', '포수')

In [60]:
result = cur.fetchone()
result

(6, 12, '최재훈', '포수')

In [67]:
# 갯수 지정 조회  *************************************************************************************
sql = "SELECT * FROM eagles WHERE Position='투수'"
cur.execute(sql)
result =cur.fetchmany(3)
result

[(1, 22, '이태양', '투수'), (5, 5, '윤대경', '투수'), (11, 33, '아아아', '투수')]

In [68]:
# 전부 조회 *************************************************************************************
result =cur.fetchall()
result

[(14, 38, '안영명', '투수'),
 (15, 54, '서균', '투수'),
 (16, 54, '서균', '투수'),
 (17, 54, '서균', '투수'),
 (18, 37, '안보영', '투수'),
 (19, 52, '서균', '투수')]

In [72]:
# 필요 컬럼만 조회
sql = "SELECT Back_no, name FROM eagles WHERE Back_no > 20"
cur.execute(sql)
result =cur.fetchall()
result

[(22, '이태양'),
 (52, '김태균'),
 (25, '최진행'),
 (56, '박정현'),
 (51, '장진혁'),
 (33, '아아아'),
 (29, '최후진'),
 (38, '안영명'),
 (54, '서균'),
 (54, '서균'),
 (54, '서균'),
 (37, '안보영'),
 (52, '서균')]

In [73]:
# 백넘버가 30~30까지인 선수들의 명단
sql = "SELECT Back_no, name FROM eagles WHERE Back_no between 30 and 39"
cur.execute(sql)
result =cur.fetchall()
result

[(33, '아아아'), (38, '안영명'), (37, '안보영')]

In [74]:
# 백넘버가 가장 큰 번호를 갖는 선수
sql = "SELECT * FROM eagles order by Back_no desc limit 1"
cur.execute(sql)
result =cur.fetchone()
result

(9, 56, '박정현', '내야수')

In [87]:
# 포지션 별 선수수
sql = "SELECT position, count(*) FROM eagles group by position"
cur.execute(sql)
result =cur.fetchall()
result

[('내야수', 3), ('외야수', 5), ('투수', 9), ('포수', 2)]

### 데이터 검색

In [90]:
# 백넘버가 57번인 선수
back_no = 22
sql = "SELECT * FROM eagles where Back_no = ?"
cur.execute(sql, back_no)
result =cur.fetchall()
result

In [93]:
cur.execute(sql, (back_no,))
result =cur.fetchone()
result

(1, 22, '이태양', '투수')

### 데이터 변경

In [104]:
# id 11 선수인 포지션을 외야수로 변경

ids = 11
position = '외야수'
sql = "UPDATE eagles Set Position = ? where id = ?"
cur.execute(sql, (position, ids))
conn.commit()         #변경이 되어있으므로
result = cur.fetchone()
result

### 데이터 삭제

In [106]:
ids = 13
sql = "DELETE FROM eagles where id = ?"
cur.execute(sql, (ids, ))
conn.commit()         #변경이 되어있으므로

In [8]:
conn.close()