In [1]:
from bs4 import BeautifulSoup as BS
import urllib.request as req
import urllib.parse as pa
import pandas as pd

In [2]:
url = 'https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx'
url_open = req.urlopen(url)

soup = BS(url_open, 'html.parser')

In [4]:
pitchers = soup.find_all('tr')[1]

In [6]:
# 이름
pitchers.find_all('td')[1].get_text()

'구창모'

In [7]:
# 팀명
pitchers.find_all('td')[2].get_text()

'NC'

In [8]:
# ERA(평균자책점)
pitchers.find_all('td')[3].get_text()

'0.66'

In [9]:
# 투구 이닝
pitchers.find_all('td')[10].get_text()

'41'

In [10]:
# 탈삼진
pitchers.find_all('td')[15].get_text()

'44'

In [11]:
name = []
team  = []
era = []
ip = []
so = []

In [12]:
for n in range(1, 31):
    pitchers = soup.find_all('tr')[n]
    
    name.append(pitchers.find_all('td')[1].get_text())
    team.append(pitchers.find_all('td')[2].get_text())
    era.append(pitchers.find_all('td')[3].get_text())
    ip.append(pitchers.find_all('td')[10].get_text())
    so.append(pitchers.find_all('td')[15].get_text())

In [13]:
df = pd.DataFrame(dict(zip(['이름', '소속팀','평균자책점','투구수','탈삼진'], [name, team, era, ip, so])))

In [19]:
df

       이름  소속팀 평균자책점     투구수 탈삼진
0     구창모   NC  0.66      41  44
1     요키시   키움  1.49  42 1/3  33
2     배제성   KT  2.11  38 1/3  24
3   스트레일리   롯데  2.23  40 1/3  43
4    루친스키   NC  2.23  44 1/3  41
5     원태인   삼성  2.68      37  24
6     브룩스  KIA  2.76  42 1/3  34
7     라이트   NC  2.77      39  35
8     플렉센   두산  2.92      37  30
9     박종훈   SK  3.44      34  34
10     가뇽  KIA  3.48  33 2/3  40
11    유희관   두산  3.60      35  12
12    서준원   롯데  3.72  38 2/3  18
13     핀토   SK  3.76  40 2/3  25
14    뷰캐넌   삼성  3.79      38  24
15    양현종  KIA  3.89      37  26
16    차우찬   LG  3.97      34  31
17   알칸타라   두산  4.07      42  35
18    서폴드   한화  4.11      46  24
19  데스파이네   KT  4.29      42  34
20     윌슨   LG  4.29  35 2/3  27
21    최원태   키움  4.38      39  26
22    문승원   SK  4.68  32 2/3  33
23    김태훈   SK  4.91      33  19
24     켈리   LG  5.06      32  27
25    이재학   NC  5.08  33 2/3  20
26    이민우  KIA  5.09  40 2/3  28
27    이영하   두산  5.22  39 2/3  27
28    임찬규   LG  5.24  34 1/3  34
29    김민우   한화  5.25      36  36